.card{
    background-color: rgb(73, 74, 117);
}
.h1 {
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.body{
    background-color: rgb(167, 231, 225);
}
header{
    display: flex;
    justify-content: space-around;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    font-family: Georgia, 'Times New Roman', Times, serif;
}