.card{
    background-color: rgb(74, 71, 102);
}
.h1 {
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.body{
    background-color: rgb(220, 131, 238);
}
.fondo{
    background-image: url(purplemarmol.jpg);
    
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}